/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#f4f4f4;
    overflow-x:hidden;
}

/* =========================
   HEADER
========================= */

header{
    background:#111;
    color:white;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    font-size:28px;
}

/* =========================
   CONTAINER
========================= */

.container{
    display:flex;
}

/* =========================
   SIDEBAR
========================= */

.sidebar{
    width:250px;
    min-height:100vh;
    background:#222;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:20px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:14px;
    background:#333;
    margin-bottom:12px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.sidebar li:hover{
    background:royalblue;
    transform:translateX(10px);
}

.activeNav{
    background:royalblue !important;
}

/* =========================
   MAIN
========================= */

main{
    flex:1;
    padding:30px;
}

/* =========================
   PAGE
========================= */

.page{
    display:none;
}

.activePage{
    display:block;
}

/* =========================
   HOME PAGE
========================= */

.hero{
    background:linear-gradient(135deg, royalblue, purple);
    color:white;
    padding:60px;
    border-radius:20px;
    margin-bottom:40px;
    position:relative;
    overflow:hidden;
}

.hero h2{
    font-size:45px;
    margin-bottom:15px;
}

.hero p{
    width:70%;
    line-height:1.7;
}

/* =========================
   CIRCLES
========================= */

.circle{
    width:90px;
    height:90px;
    border-radius:50%;
    background:white;
    opacity:0.2;
    position:absolute;
}

.c1{
    top:20px;
    right:50px;
}

.c2{
    bottom:30px;
    right:180px;
}

.c3{
    top:120px;
    left:40px;
}

/* =========================
   STATS
========================= */

.stats{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.statBox{
    background:white;
    flex:1;
    min-width:220px;
    padding:30px;
    border-radius:20px;
    text-align:center;
}

.statBox h3{
    font-size:40px;
    color:royalblue;
    margin-bottom:10px;
}

/* =========================
   AUTRES PAGES
========================= */

.fakePage{
    background:white;
    padding:40px;
    border-radius:20px;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}